/* $Id */ 

/**
 * @file
 * Colors for individual base color schemes.
 */

/* ------------------- WHITE BODY BACKGROUND (DEFAULT) -------------------- */

body {
  background-color: #FFF;
  color: #323232;
}

a,
a:link,
a:visited {
  color: #767676;
}

a:hover,
a:focus,
a:active {
  color: #454545;
}

/* SITE INFO */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  color: #323232;
}

#slogan {
  color: #767676;
}

/* NODE LINKS */
.node ul.links {
  background: #DEDEDE;
}

/* CUSTOM BULLETS FOR MENU LISTS */
.block-outer ul li.leaf,
.node ul li.leaf {
  list-style-image: url(../images/menu-leaf.png);
}

.block-outer ul li.expanded,
.node ul li.expanded {
  list-style-image: url(../images/menu-expanded.png);
}

.block-outer ul li.collapsed,
.node ul li.collapsed {
  list-style-image: url(../images/menu-collapsed.png);
}


/* --------------------- GRAY BODY BACKGROUND ------------------------------- */

body.gray {
  background: #e3e3e3 url(../images/bg-gray.gif) top left repeat-x;
}

.gray #site-name a:link,
.gray #site-name a:visited,
.gray #site-name a:hover,
.gray #site-name a:active {
  color: #000;
}

.gray #slogan {
  color: #565656;
}

/* -------------------- BLACK BODY BACKGROUND ------------------------------- */

body.black {
  background: #464845 url(../images/bg-black.gif) top left repeat-x;
}

.black a,
.black a:link,
.black a:visited {
  color: #AEAEAE;
}

.black a:hover,
.black a:focus,
.black a:active {
  color: #FFF;
}

.black #site-name a:link,
.black #site-name a:visited,
.black #site-name a:hover,
.black #site-name a:active {
  color: #FFF;
}

.black #slogan {
  color: #8E8E8E;
}

.black .node ul.links {
  background-color: #747574;
}

/* --------------------- RED BODY BACKGROUND ------------------------------- */

body.red {
  background: #AB1B1B url(../images/bg-red.gif) top left repeat-x;
}

.red a,
.red a:link,
.red a:visited {
  color: #949494;
}

.red a:hover,
.red a:focus,
.red a:active {
  color: #FFF;
}

.red #site-name a:link,
.red #site-name a:visited,
.red #site-name a:hover,
.red #site-name a:active {
  color: #FFF;
}

.red #slogan {
  color: #181818;
}

.red .node ul.links {
  background-color: #C62929;
}

/* --------------------- BLUE BODY BACKGROUND ------------------------------- */

body.blue {
  background: #335299 url(../images/bg-blue.gif) top left repeat-x;
}

.blue a,
.blue a:link,
.blue a:visited {
  color: #AEAEAE;
}

.blue a:hover,
.blue a:focus,
.blue a:active {
  color: #FFF;
}

.blue #site-name a:link,
.blue #site-name a:visited,
.blue #site-name a:hover,
.blue #site-name a:active {
  color: #FFF;
}

.blue #slogan {
  color: #9ABCE4;
}

.blue .node ul.links {
  background-color: #355FA7;
}

/* --------------------- GREEN BODY BACKGROUND ------------------------------ */

body.green {
  background: #2B7B0B url(../images/bg-green.gif) top left repeat-x;
}

.green a,
.green a:link,
.green a:visited {
  color: #AEAEAE;
}

.green a:hover,
.green a:focus,
.green a:active {
  color: #FFF;
}

.green #site-name a:link,
.green #site-name a:visited,
.green #site-name a:hover,
.green #site-name a:active {
  color: #FFF;
}

.green #slogan {
  color: #7FBC35;
}

.green .node ul.links {
  background-color: #2F7912;
}

/* ------------ CHANGE TO WHITE TEXT AND BULLETS ON DARK BACKGROUNDS -------- */

body.black,
body.red,
body.blue,
body.green {
  color: #FFF;
}

.black .block-outer ul li.leaf,
.red .block-outer ul li.leaf,
.blue .block-outer ul li.leaf,
.green .block-outer ul li.leaf,
.black .node ul li.leaf,
.red .node ul li.leaf,
.blue .node ul li.leaf,
.green .node ul li.leaf {
  list-style-image: url(../images/menu-leaf-wh.png);
}

.black .block-outer ul li.expanded,
.red .block-outer ul li.expanded,
.blue .block-outer ul li.expanded,
.green .block-outer ul li.expanded,
.black .node ul li.expanded,
.red .node ul li.expanded,
.blue .node ul li.expanded,
.green .node ul li.expanded {
  list-style-image: url(../images/menu-expanded-wh.png);
}

.black .block-outer ul li.collapsed,
.red .block-outer ul li.collapsed,
.blue .block-outer ul li.collapsed,
.green .block-outer ul li.collapsed,
.black .node ul li.collapsed,
.red .node ul li.collapsed,
.blue .node ul li.collapsed,
.green .node ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-wh.png);
}

/* -------------- ADD A WHITE BACKGROUND TO CONTENT AREA -------------------- */

.white-page-bg #main,
.white-page-bg #preface-top,
.white-page-bg #postscript-bottom,
.default-footer .white-page-bg #footer {
  background-color: #FFF;
  color: #323232;
}

.white-page-bg a,
.white-page-bg a:link,
.white-page-bg a:visited {
  color: #666;
}

/* Add a little extra spacing on edges if have white bg */
.white-page-bg #preface-top .block.first .inner,
.white-page-bg #postscript-bottom .block.first .inner,
.white-page-bg #footer .block.first .inner {
  margin-left: 10px; /* LTR */
}

.white-page-bg #preface-top .block.last .inner,
.white-page-bg #postscript-bottom .block.last .inner,
.white-page-bg #footer .block.last .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-split .white-page-bg .sidebar-first .block .inner {
  margin-left: 10px; /* LTR */
}

.sidebars-split .white-page-bg .preface-bottom .block.last .inner,
.sidebars-split .white-page-bg .postscript-top .block.last .inner,
.sidebars-split .white-page-bg .sidebar-last .block .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-both-first .white-page-bg .sidebar-first .block .inner {
  margin-left: 10px; /* LTR */
}

.sidebars-both-first .white-page-bg .main-content .block .inner,
.sidebars-both-first .white-page-bg .preface-bottom .block.last .inner,
.sidebars-both-first .white-page-bg .postscript-top .block.last .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-both-first .white-page-bg .sidebar-last .block .inner {
  margin-right: 5px; /* LTR */
}

.sidebars-both-last .white-page-bg .main-content .block .inner,
.sidebars-both-last .white-page-bg .preface-bottom .block.first .inner,
.sidebars-both-last .white-page-bg .postscript-top .block.first .inner {
  margin-left: 10px; /* LTR */
}

.sidebars-both-last .white-page-bg .sidebar-first .block .inner {
  margin-right: 10px; /* LTR */
}

.sidebars-both-last .white-page-bg .sidebar-last .block .inner {
  margin-left: 5px; /* LTR */
}

.white-page-bg .node ul.links {
  background: #E3E5E3;
}

/* CHANGE TO DARK BULLETS ON WHITE BG */

.white-page-bg .block-outer ul li.leaf,
.white-page-bg .node ul li.leaf {
  list-style-image: url(../images/menu-leaf.png);
}

.white-page-bg .block-outer ul li.expanded,
.white-page-bg .node ul li.expanded {
  list-style-image: url(../images/menu-expanded.png);
}

.white-page-bg .block-outer ul li.collapsed,
.white-page-bg .node ul li.collapsed  {
  list-style-image: url(../images/menu-collapsed.png);
}

/* --------------------- GRAY NAVBAR/BUTTONS ------------------------------ */

/* PRIMARY MENU */
.main-menu {
  background: #CCCCCA url(../images/nav-bg-gray.gif) top left repeat-x;
  border-bottom: 1px solid #B5B5B4;
}

.main-menu-inner ul {
  border-right: 1px solid #E1E1E1; /* LTR */
}

.main-menu-inner ul a,
.main-menu-inner ul a:visited,
.main-menu-inner ul ul.menu a,
.main-menu-inner ul ul.menu a:visited {
  color: #333;
}

.main-menu-inner ul a:hover,
.main-menu-inner ul a:active,
.main-menu-inner ul a:focus{
  color: #000;
}

.main-menu-inner ul li {
  border-right: 1px solid #B5B5B4;  /* LTR */
  border-left: 1px solid #E1E1E1;  /* LTR */
}

.main-menu-inner ul li.first {
  border-left: 0; /* LTR */
}

/* FORM SUBMIT BUTTONS */
form input.form-submit {
  background: #CCCCCA url(../images/nav-bg-gray.gif) top left repeat-x;
  border-bottom: 1px solid #B5B5B4;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #B5B5B4;
  border-left: 1px solid #E1E1E1;
  color: #000;
}

/* --------------------- BLACK NAVBAR/BUTTONS ------------------------------ */

/* PRIMARY MENU */
.black-accents .main-menu {
  background: #272727 url(../images/nav-bg-black.gif) top left repeat-x;
  border-bottom: 1px solid #232323;
}

.black-accents .main-menu-inner ul {
  border-right: 1px solid  #414140; /* LTR */
}

.black-accents .main-menu-inner ul a,
.black-accents .main-menu-inner ul a:visited,
.black-accents .main-menu-inner ul ul.menu a,
.black-accents .main-menu-inner ul ul.menu a:visited  {
  color: #FFF;
}

.black-accents .main-menu-inner ul a:hover,
.black-accents .main-menu-inner ul a:active,
.black-accents .main-menu-inner ul a:focus {
  color: #000
}

.black-accents .main-menu-inner ul li {
  border-right: 1px solid #232323; /* LTR */
  border-left: 1px solid #414140; /* LTR */
}

.black-accents .main-menu-inner ul li.first {
  border-left: 0; /* LTR */
}

/* FORM SUBMIT BUTTONS */
.black-accents form input.form-submit {
  background: #272727 url(../images/nav-bg-black.gif) top left repeat-x;
  border-bottom: 1px solid #232323;
  border-top: 1px solid #414140;
  border-right: 1px solid #232323;
  border-left: 1px solid #414140;
  color: #FFF;
}

.black-accents .block-search form input.form-submit {
  background: transparent url(../images/search-black-accents.png) top left no-repeat;
  border: none;
}

/* --------------------- RED NAVBAR/BUTTONS ------------------------------ */

/* PRIMARY MENU */
.red-accents .main-menu,
.red-accents form input.form-submit {
  background: #A51D1D url(../images/nav-bg-red.gif) top left repeat-x;
  border-bottom: 1px solid #A4141E;
}

.red-accents .main-menu-inner ul {
  border-right: 1px solid #A4141E; /* LTR */
}

.red-accents .main-menu-inner ul a,
.red-accents .main-menu-inner ul a:visited,
.red-accents .main-menu-inner ul ul.menu a,
.red-accents .main-menu-inner ul ul.menu a:visited  {
  color: #FFF;
}

.red-accents .main-menu-inner ul a:hover,
.red-accents .main-menu-inner ul a:active,
.red-accents .main-menu-inner ul a:focus {
  color: #000
}

.red-accents .main-menu-inner ul li {
  border-right: 1px solid #D73131; /* LTR */
  border-left: 1px solid #A4141E; /* LTR */
}

.red-accents .main-menu-inner ul li.first {
  border-left: 0; /* LTR */
}

/* FORM SUBMIT BUTTON */
.red-accents form input.form-submit {
  background: #A51D1D url(../images/nav-bg-red.gif) top left repeat-x;
  border-bottom: 1px solid #A4141E;
  border-top: 1px solid #D73131;
  border-right: 1px solid #A4141E;
  border-left: 1px solid #D73131;
  color: #FFF;
}

.red-accents .block-search form input.form-submit {
  background: transparent url(../images/search-red-accents.png) top left no-repeat;
  border: none;
}

/* --------------------- BLUE NAVBAR/BUTTONS ------------------------------ */

/* PRIMARY MENU */
.blue-accents .main-menu {
  background: #2C2C2C url(../images/nav-bg-blue.gif) top left repeat-x;
  border-bottom: 1px solid #064287;
}

.blue-accents .main-menu-inner ul {
  border-right: 1px solid #4181C9; /* LTR */
}

.blue-accents .main-menu-inner ul a,
.blue-accents .main-menu-inner ul a:visited,
.blue-accents .main-menu-inner ul ul.menu a,
.blue-accents .main-menu-inner ul ul.menu a:visited {
  color: #FFF;
}

.blue-accents .main-menu-inner ul a:hover,
.blue-accents .main-menu-inner ul a:active,
.blue-accents .main-menu-inner ul a:focus {
  color: #000
}

.blue-accents .main-menu-inner ul li {
  border-right: 1px solid #064287; /* LTR */
  border-left: 1px solid #4181C9; /* LTR */
}

.blue-accents .main-menu-inner ul li.first {
  border-left: 0; /* LTR */
}

/* FORM SUBMIT BUTTONS */
.blue-accents form input.form-submit {
  background: #2C2C2C url(../images/nav-bg-blue.gif) top left repeat-x;
  border-bottom: 1px solid #064287;
  border-top: 1px solid #4181C9;
  border-right: 1px solid #064287;
  border-left: 1px solid #4181C9;
  color: #FFF;
}

.blue-accents .block-search form input.form-submit {
  background: transparent url(../images/search-blue-accents.png) top left no-repeat;
  border: none;
}

/* --------------------- GREEN NAVBAR/BUTTONS ------------------------------ */

/* PRIMARY MENU */
.green-accents .main-menu {
  background: #3C8514 url(../images/nav-bg-green.gif) top left repeat-x;
  border-bottom: 1px solid #337311;
  color: #FFF;
}

.green-accents .main-menu-inner ul {
  border-right: 1px solid #62B131; /* LTR */
}

.green-accents .main-menu-inner ul a,
.green-accents .main-menu-inner ul a:visited,
.green-accents .main-menu-inner ul ul.menu a,
.green-accents .main-menu-inner ul ul.menu a:visited {
  color: #FFF;
}

.green-accents .main-menu-inner ul a:hover,
.green-accents .main-menu-inner ul a:active,
.green-accents .main-menu-inner ul a:focus {
  color: #000
}

.green-accents .main-menu-inner ul li {
  border-right: 1px solid #337311; /* LTR */
  border-left: 1px solid #62B131; /* LTR */
}

.green-accents .main-menu-inner ul li.first {
  border-left: 0; /* LTR */
}

/* FORM SUBMIT BUTTONS */
.green-accents form input.form-submit {
  background: #3C8514 url(../images/nav-bg-green.gif) top left repeat-x;
  border-bottom: 1px solid #337311;
  border-top: 1px solid #62B131;
  border-right: 1px solid #337311;
  border-left: 1px solid #62B131;
  color: #FFF;
}

.green-accents .block-search form input.form-submit {
  background: transparent url(../images/search-green-accents.png) top left no-repeat;
  border: none;
}

/* --------------------- ORANGE NAVBAR/BUTTONS ------------------------------ */

/* PRIMARY MENU */
.orange-accents .main-menu,
.orange-accents form input.form-submit {
  background: #D94707 url(../images/nav-bg-orange.gif) top left repeat-x;
  border-bottom: 1px solid #D54A05;
}

.orange-accents .main-menu-inner ul {
  border-right: 1px solid #F27A47; /* LTR */
}

.orange-accents .main-menu-inner ul a,
.orange-accents .main-menu-inner ul a:visited,
.orange-accents .main-menu-inner ul ul.menu a,
.orange-accents .main-menu-inner ul ul.menu a:visited {
  color: #FFF;
}

.orange-accents .main-menu-inner ul a:hover,
.orange-accents .main-menu-inner ul a:active,
.orange-accents .main-menu-inner ul a:focus {
  color: #000
}

.orange-accents .main-menu-inner ul li {
  border-right: 1px solid #D54A05; /* LTR */
  border-left: 1px solid #F27A47; /* LTR */
}

.orange-accents .main-menu-inner ul li.first {
  border-left: 0; /* LTR */
}

/* FORM SUBMIT BUTTONS */
.orange-accents form input.form-submit {
  background: #D94707 url(../images/nav-bg-orange.gif) top left repeat-x;
  border-bottom: 1px solid #D54A05;
  border-top: 1px solid #F27A47;
  border-right: 1px solid #D54A05;
  border-left: 1px solid #F27A47;
  color: #FFF;
}

.orange-accents .block-search form input.form-submit {
  background: transparent url(../images/search-orange-accents.png) top left no-repeat;
  border: none;
}

/* ------------------ FOOTER --------------------------- */

/* Backgrounds */
.black-footer #footer {
  background-color: #242424;
  color: #FFF;
}

.lt-gray-footer #footer  {
  background-color: #DEDEDE;
  color: #333;
}

.gray-footer #footer {
  background-color: #C7C7C7;
  color: #333;
}

.dk-gray-footer #footer {
  background-color: #747474;
  color: #FFF;
}

.red-footer #footer {
  background-color: #BF2222;
  color: #FFF;
}

.blue-footer #footer {
  background-color: #2E61B4;
  color: #FFF;
}

.lt-blue-footer #footer {
  background-color: #9DBDE2;
  color: #333;
}

.green-footer #footer {
  background-color: #4B9A1E;
  color: #FFF;
}

.lt-green-footer #footer {
  background-color: #B2D982;
  color: #333;
}

.orange-footer #footer {
  background-color: #E9620F;
  color: #FFF;
}

.lt-orange-footer #footer {
  background-color: #FFA85C;
  color: #333;
}

/* Use matching bullets on different footer backgrounds */
.lt-gray-footer #footer ul li,
.lt-gray-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-lgy.png);
}

.lt-gray-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-lgy.png);
}

.lt-gray-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-lgy.png);
}

.gray-footer #footer ul li,
.gray-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-mgy.png);
}

.gray-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-mgy.png);
}

.gray-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-mgy.png);
}

.dk-gray-footer #footer ul li,
.dk-gray-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-mgy2.png);
}

.dk-gray-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-mgy2.png);
}

.dk-gray-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-mgy2.png);
}

.black-footer #footer ul li,
.black-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-dgy.png);
}

.black-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-dgy.png);
}

.black-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-dgy.png);
}

.red-footer #footer ul li,
.red-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-red.png);
}

.red-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-red.png);
}

.red-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-red.png);
}

.blue-footer #footer ul li,
.blue-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-bl.png);
}

.blue-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-bl.png);
}

.blue-footer #footer ul li.collapsed{
  list-style-image: url(../images/menu-collapsed-bl.png);
}

.lt-blue-footer #footer ul li,
.lt-blue-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-bl2.png);
}

.lt-blue-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-bl2.png);
}

.lt-blue-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-bl2.png);
}

.green-footer #footer  ul li,
.green-footer #footer  ul li.leaf {
  list-style-image: url(../images/menu-leaf-gr.png);
}

.green-footer #footer  ul li.expanded {
  list-style-image: url(../images/menu-expanded-gr.png);
}

.green-footer #footer  ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-gr.png);
}

.lt-green-footer #footer ul li,
.lt-green-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-gr2.png);
}

.lt-green-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-gr2.png);
}

.lt-green-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-gr2.png);
}

.orange-footer #footer ul li,
.orange-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-or.png);
}

.orange-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-or.png);
}

.orange-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-or.png);
}

.lt-orange-footer #footer ul li,
.lt-orange-footer #footer ul li.leaf {
  list-style-image: url(../images/menu-leaf-or2.png);
}

.lt-orange-footer #footer ul li.expanded {
  list-style-image: url(../images/menu-expanded-or2.png);
}

.lt-orange-footer #footer ul li.collapsed {
  list-style-image: url(../images/menu-collapsed-or2.png);
}

/* ------------------ PAGE AND BLOCK HEADERS ---------------- */

.white-headers h1.title,
.white-headers h2.title {
  color: #FFF;
}

.gray-headers h1.title,
.gray-headers h2.title {
  color: #767676;
}

.black-headers h1.title,
.black-headers h2.title {
  color: #323232;
}

.blue-headers h1.title,
.blue-headers h2.title {
  color: #1A59B1;
}

.red-headers h1.title,
.red-headers h2.title {
  color: #BF1D20;
}

.orange-headers h1.title,
.orange-headers h2.title,
.orange-title #site-name a:link,
.orange-title #site-name a:visited,
.orange-title #site-name a:hover,
.orange-title #site-name a:active,
.orange-slogan #slogan {
  color: #E45B05;
}

.green-headers h1.title,
.green-headers h2.title {
  color: #2A9400;
}

/* ---------------------------------- LINK COLORS -------------------------- */

.gray-links a,
.gray-links a:link,
.gray-links a:visited {
  color: #767676;
}

.gray-links a:hover,
.gray-links a:focus,
.gray-links a:active {
  color: #454545;
}

.blue-links a,
.blue-links a:link,
.blue-links a:visited {
  color: #135DB1;
}

.blue-links a:hover,
.blue-links a:focus,
.blue-links a:active {
  color: #508BDF;
}

.red-links a,
.red-links a:link,
.red-links a:visited {
  color: #BF1D20;
}

.red-links a:hover,
.red-links a:focus,
.red-links a:active {
  color: #D43C3E;
}

.green-links a,
.green-links a:link,
.green-links a:visited {
  color: #2A9400;;
}

.green-links a:hover,
.green-links a:focus,
.green-links a:active {
  color: #48B71D;
}

.orange-links a,
.orange-links a:link,
.orange-links a:visited {
  color: #E45B05;
}

.orange-links a:hover,
.orange-links a:focus,
.orange-links a:active {
  color: #FC7D2D;
}

