/* Styles if using Skinr block skins.  Only loads when Skinr module is enabled */

/* =============================================================================
 *   COLORS
 * ========================================================================== */

/* BACKGROUND COLOR */
#page .wh-bbg .block-inner {
  background-color: #fff;
  color: #333;
}

#page .lgy-bbg .block-inner {
  background-color: #F2F2F2;
  color: #333;
}

#page .gy-bbg .block-inner {
  background-color: #D2D2D2;
  color: #333;
}

#page .dgy-bbg .block-inner {
  background-color: #747474;
  color: #fff;
}

#page .bk-bbg .block-inner {
  background-color: #242424;
  color: #fff;
}

#page .ltn-bbg .block-inner {
  background-color: #F1EEE5;
  color: #333;
}

#page .tn-bbg .block-inner {
  background-color: #CDC2AA;
  color: #333;
}

#page .dtn-bbg .block-inner {
  background-color: #A6977E;
  color: #fff;
}

#page .brn-bbg .block-inner {
  background-color: #4E453C;
  color: #FFF;
}

#page .lbl-bbg .block-inner {
  background-color: #B5CFEF;
  color: #333;
}

#page .bl-bbg .block-inner {
  background-color: #0E53A6;
  color: #fff;
}

#page .dbl-bbg .block-inner {
  background-color: #143865;
  color: #fff;
}

#page .lgr-bbg .block-inner {
  background-color: #c5dbad;
  color: #333;
}

#page .gr-bbg .block-inner {
  background-color: #367512;
  color: #fff;
}

#page .dgr-bbg .block-inner {
  background-color: #1F5120;
  color: #fff;
}

#page .ltl-bbg .block-inner {
  background-color: #BCD0CE;
  color: #333;
}

#page .tl-bbg .block-inner {
  background-color: #45676B;
  color: #fff;
}

#page .red-bbg .block-inner {
  background-color: #B01C1C;
  color: #fff;
}

#page .lor-bbg .block-inner {
  background-color: #F2B789;
  color: #333;
}

#page .or-bbg .block-inner {
  background-color: #E9620F;
  color: #fff;
}

#page .lmr-bbg .block-inner {
  background-color: #D5B4B9;
  color: #333;
}

#page .mr-bbg .block-inner {
  background-color: #793B48;
  color: #fff;
}

#page .lpr-bbg .block-inner {
  background-color: #C4BBD9;
  color: #333;
}

#page .pr-bbg .block-inner {
  background-color: #554675;
  color: #fff;
}

/* HEADER BACKGROUND COLOR */

#page .gy-bhd h2.block-title {
  background: #CCC url(images/nav-bg-gray.gif) top left repeat-x;
  color: #333;
}

#page .bk-bhd h2.block-title {
  background: #272727 url(images/nav-bg-black.gif) top left repeat-x;
  color: #FFF;
}

#page .br-bhd h2.block-title {
  background: #423a34 url(images/nav-bg-brown.gif) top left repeat-x;
  color: #FFF;
}

#page .bl-bhd h2.block-title {
  background: #2C2C2C url(images/nav-bg-blue.gif) top left repeat-x;
  color: #FFF;
}

#page .dbl-bhd h2.block-title {
  background: #103058 url(images/nav-bg-dkblue.gif) top left repeat-x;
  color: #FFF;
}

#page .gr-bhd h2.block-title {
  background: #2B6B0B url(images/nav-bg-green.gif) top left repeat-x;
  color: #FFF;
}

#page .dgr-bhd h2.block-title {
  background: #1c481d url(images/nav-bg-dkgreen.gif) top left repeat-x;
  color: #FFF;
}

#page .tl-bhd h2.block-title {
  background: #3e5f63 url(images/nav-bg-teal.gif) top left repeat-x;
  color: #FFF;
}

#page .rd-bhd h2.block-title {
  background: #A51D1D url(images/nav-bg-red.gif) top left repeat-x;
  color: #FFF;
}

#page .or-bhd h2.block-title {
  background: #c85522 url(images/nav-bg-orange.gif) top left repeat-x;
  color: #FFF;
}

#page .mr-bhd h2.block-title {
  background: #672D39 url(images/nav-bg-maroon.gif) top left repeat-x;
  color: #FFF;
}

#page .pr-bhd h2.block-title {
  background: #4b3e68 url(images/nav-bg-purple.gif) top left repeat-x;
  color: #FFF;
}

/* HEADER TEXT COLOR */

#page .wh-bht h2.block-title,
#page .wh-bht h2.block-title a {
  color: #FFF;
}

#page .by-bht h2.block-title {
  color: #767676;
}

#page .bk-bht h2.block-title {
  color: #323232;
}
 
#page .br-bht h2.block-title {
  color: #594D42;
}
 
#page .bl-bht h2.block-title {
  color: #1A59B1;
}

#page .dbl-bht h2.block-title {
  color: #2D4A6B;
}

#page .gr-bht h2.block-title {
  color: #2A9400;
}
 
#page .dgr-bht h2.block-title {
  color: #3A572D;
}
 
#page .tl-bht h2.block-title {
  color: #37676D;
}
 
#page .rd-bht h2.block-title {
  color: #BF1D20;
}

#page .mr-bht h2.block-title {
  color: #773743;
}
 
#page .pr-bht h2.block-title {
  color: #624F88;
}

#page .or-bht h2.block-title {
  color: #DD5C0B;
}

/* LINK COLOR */

#page .wh-lnk a {
  color: #fff;
}

#page .br-lnk a {
  color: #82654B;
}

#page .bl-lnk a {
  color: #135DB1;
}

#page .gr-lnk a {
  color: #2A9400;
}

#page .tl-lnk a {
  color: #2A7E87;
}

#page .rd-lnk a {
  color: #BF1D20;
}

#page .mr-lnk a {
  color: #85283B;
}

#page .pr-lnk a {
  color: #755AAF;
}

#page .or-lnk a {
  color: #E6683B;
}

/* Override default theme settings for individual blocks */
#page .no-bbg .block-inner,
#page .no-bhd h2.block-title {
  background: transparent; 
}

#page .no-bbg .block-inner {
  color: inherit;
}

/* =============================================================================
 *   CSS3
 * ========================================================================== */

/* ROUND CORNERS */

/*0px*/
#page .block.rc0 .block-inner  {
  border-radius: 0px;
}

#page .block.rc0 h2.block-title {
  border-radius: 0px 0px 0px 0px;
}

/*3px*/
#page .rc3 .block-inner  {
  border-radius: 3px;
}

#page .rc3 h2.block-title {
  border-radius: 3px 3px 0px 0px;
}

/*7px*/
#page .rc7 .block-inner  {
  border-radius: 7px;
}

#page .rc7 h2.block-title {
  border-radius: 7px 7px 0px 0px;
}

/*11px*/
#page .rc11 .block-inner  {
  border-radius: 11px;
}

#page .rc11 h2.block-title {
  border-radius: 11px 11px 0px 0px;
}

/* DROP SHADOWS */
#page .block.ds0 .block-inner {
  box-shadow: 0px 0px 0px #aaa;    
}

#page .ds2 .block-inner {
  box-shadow: 1px 1px 2px #aaa;   
}

#page .ds4 .block-inner {
  box-shadow: 2px 2px 4px #aaa;     
}


