.node-article.node-teaser .field-name-field-content-image img {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  border: 1px solid #C0C0C0;
}

/* Float image field left and add margin */
.view-article .views-field-field-content-image img {
  float: left; /* LTR */
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #C0C0C0;
}

.view-article .views-row {
  clear: both;
}


