header#header div#branding {
  float: none;
  margin: auto;
  text-align: center; 
}
header#header div.region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  width: auto;
}
header#header div.region-header .block {
  clear: both;
  display: block;
  margin: auto;
  padding: 0 0 10px !important;
  text-align: left;
  width: auto;
}
header#header div.region-header .block-inner {
  margin: 0 20px;
}
header#header div#logo,
header#header h1#site-name,
header#header h2#site-slogan {
  float: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center;
}
#menu-bar-wrapper,
#menu-bar {
  min-height: 3em;
  height: auto;
}
#menu-bar {
  padding: 0 2px;
}
#menu-bar .block {
  clear: both;
  float: none;
}
#menu-bar .menu-wrapper > ul,
#menu-bar .menu-wrapper > ul > li {
  display: block;
  float: none;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
#menu-bar .menu-wrapper ul > li > a {
  padding: 6px 10px 8px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
#menu-bar .menu-wrapper ul,
#menu-bar .menu-wrapper ul li.last {
  border: 0;
}
#menu-bar .sf-menu {
  height: auto;
  padding: 2px 0;
}
.region-header .block {
  overflow: hidden;
}
.region-draw .block {
  float: none;
  display: block;
  min-width: 0;
  max-width: 100%;
  margin: 0 auto 10px;
}
.node-title {
  font-size: 1.25em;
}
#secondary-content-wrapper .block-content-inner {
  padding: 0;
}
#secondary-content-wrapper .block-content-inner  img {
  max-width: 280px;
  display: block;
  margin: 10px auto;
}
#secondary-content-wrapper .block-content-inner .views-row {
  max-width: 90%;
  margin: auto;
}
#secondary-content-wrapper .block-content-inner .image-right,
#secondary-content-wrapper .block-content-inner .image-left,
.field-type-image {
  float: none !important;
  display: block !important;
  margin: auto !important;
  text-align: center !important;
}
.flexslider ul.flex-direction-nav {
  top: 10px !important;
}
.content-display-grid .block-inner {
  margin: 0;
}
/* Force tableviews-view-grid to not be like a table anymore */
table.views-view-grid,
table.views-view-grid thead,
table.views-view-grid tbody,
table.views-view-grid th,
table.views-view-grid td,
table.views-view-grid tr {
  display: block;
  padding: 0;
}
/* Hide table headers */
table.views-view-grid thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.views-view-grid td {
  float: left;
}
.views-view-grid .field-type-image img {
  padding-left: 0;
  padding-right: 0;
}
